
*.h5
.idea
logs
!requirements.txt
.ipynb_checkpoints
*__pycache__*
*.asv
*.png
*.gif
output/*
*.mat
!Development/input/LennaGrey.png
!Development/input/Lenna_orig.png
dist/*
venv/*
*.egg-info*
Development/output/*
*.jpg
*.zip
